<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|striptags} | {/ifset}IIS project</title>

	<link rel="stylesheet" href="{$basePath}/css/style.min.css">
	<link rel="stylesheet" href="{$basePath}/css/jquery.dataTables.min.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<meta name="viewport" content="width=device-width">
	{block head}{/block}
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{link Dashboard:default}">IIS project</a>
			</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" n:if="$user->isLoggedIn()">
			<ul class="nav navbar-nav">
				<li n:if="$user->isAllowed('Building', 'default')">
					<a href="{link Building:default}">Buildings</a>
				</li>
				<li n:if="$user->isAllowed('Department', 'default')">
					<a href="{link Department:default}">Departments</a>
				</li>
				<li n:if="$user->isAllowed('Equipment', 'default')">
					<a href="{link Equipment:default}">Equipment</a>
				</li>
				<li n:if="$user->isAllowed('Repair', 'default')">
					<a href="{link Repair:default}">Repairs</a>
				</li>
				<li n:if="$user->isAllowed('Room', 'default')">
					<a href="{link Room:default}">Rooms</a>
				</li>
				<li n:if="$user->isAllowed('User', 'default')">
					<a href="{link User:default}">Users</a>
				</li>
			</ul>
			<ul class ="nav navbar-nav navbar-right">
				<li><a href="{link Settings:default}"><i class="glyphicon glyphicon-user"></i> {$user->identity->login}</a></li>
				<li><a href="{link signOut!}"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		{foreach $flashes as $flash}
    		<div class="alert alert-{$flash->type}" role="alert">{$flash->message}</div>
    	{/foreach}
		<div class="content">
			{ifset title}<h1>{include title}</h1>{/ifset}
			{include content}
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<div class="col-sm-12">
				Evidence výpočetní techniky
			</div>
		</div>
	</footer>

	<script src="{$basePath}/js/jquery/jquery.js"></script>
	<script src="{$basePath}/js/bootstrap/bootstrap.js"></script>
	<script src="{$basePath}/js/dataTables/jquery.dataTables.min.js"></script>
	<script src="{$basePath}/js/dataTables/dataTables.bootstrap.min.js"></script>
	<script src="{$basePath}/js/ajax/nette.ajax.js"></script>
	<script src="{$basePath}/js/live-form-validation.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{block scripts}
	{/block}
</body>
</html>