.login {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: percentage(1/3);
	@media (max-width: $screen-sm-max) {
		width: percentage(2/3);
	}
	@media (max-width: $screen-xs-max) {
		width: 100%;
	}
	&-register {
		line-height: $input-height-base;
		text-align: right;
	}
	&-send {
		background: $btn-success-bg;
		color: $btn-success-color;
		&:hover {
			background: darken($btn-success-bg, 10%);
			color: $btn-success-color;
		}
		&.js-loading {
			background: lighten($btn-success-bg, 10%);
		}
	}
	&-error {
		color: $alert-danger-text;
		&:before {
			content: "\e101";
			font-family: 'Glyphicons Halflings';
			position: relative;
			top: 2px;
		}
	}
}