{block content}
	<div class="container-fluid">
		<p><a href="{link Building:add}" title="New record" class="btn btn-xs btn-primary margin-top-15"><i class="glyphicon glyphicon-plus"></i> New record</a></p>
		<div class="col-sm-12">
			{if count($buildings) > 0}
				<table class="table table-striped table-condensed dataTables">
					<thead>
						<th>Street</th>
						<th>House number</th>
						<th>City</th>
						<th>Country</th>
						<th></th>
					</thead>
					<tbody>
						{foreach $buildings as $building}
						<tr>
							<td>{$building->street}</td>
							<td>{$building->houseNumber}</td>
							<td>{$building->city}</td>
							<td>{$building->country}</td>
							<td class="text-right">
								<a href="{link detail $building->id}" title="Detail" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-file"></i> Detail</a>
								<a href="{link edit $building->id}" title="Edit" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
								<a href="{link delete! $building->id}" title="Delete" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</a>
							</td>
						</tr>
						{/foreach}
					</tbody>
				</table>
			{else}
				<div class="alert alert-info">
					<strong>Info!</strong> There are no records !
				</div>
			{/if}
		</div>
	</div>
{/block}

{block title}Buildings{/block}