{block content}
	<div class="container-fluid">
		<div class="col-sm-12">
			<h2>Building</h2>
			<table class="table table-striped table-condensed">
				<tbody>
					<tr><td>Street</td><td>{$building->street}</td></tr>
					<tr><td>House number</td><td>{$building->houseNumber}</td></tr>
					<tr><td>City</td><td>{$building->city}</td></tr>
					<tr><td>Country</td><td>{$building->country}</td></tr>
				</tbody>
			</table>
			<h2>Rooms</h2>
			{if count($building->rooms) > 0}
				<table class="table table-striped table-condensed">
					<thead>
						<th>Name</th>
						<th></th>
					</thead>
					<tbody>
						<tr n:foreach="$building->rooms as $room">
							<td>{$room->name}</td>
							<td class="text-right">
								<a href="{link Room:detail $room->id}" title="Detail" class="btn btn-xs btn-primary">
									<i class="glyphicon glyphicon-file"></i> Detail
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			{else}
				<div class="alert alert-info">
					<strong>Info!</strong> There are no records !
				</div>
			{/if}
		</div>
	</div>
{/block}