{block title}
	Departments
{/block}

{block content}
	<div class="container-fluid">
		<p><button title="New record" class="btn btn-xs btn-primary margin-top-15" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus"></i> New record</button></p>
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add department</h4>
					</div>
					<div class="modal-body">
						{control department}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		 </div>
		<div class="col-sm-12">
			{if count($departments) > 0}
				<table class="table table-striped table-condensed dataTables" >
					<thead>
						<th>Name</th>
						<th></th>
					</thead>
					<tbody>
						{foreach $departments as $department}
						<tr>
							<td>{$department->name}</td>
							<td class="text-right">
								<a href="{link detail $department->id}" title="Detail" class="btn btn-xs btn-primary">
									<i class="glyphicon glyphicon-file"></i> Detail
								</a>
								<a n:href="edit!, $department->id" title="Edit" class="ajax btn btn-xs btn-default">
									<i class="glyphicon glyphicon-pencil"></i> Edit
								</a>
								<a href="{link delete! $department->id}" title="Delete" class="btn btn-xs btn-danger">
									<i class="glyphicon glyphicon-trash"></i> Delete
								</a>
							</td>
						</tr>
						{/foreach}
					</tbody>
				</table>
			{else}
				<div class="alert alert-info">
					<strong>Info!</strong> There are no records !
				</div>
			{/if}
		</div>
	</div>

	<div n:snippet='edit' n:inner-ifset="$showEdit" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Edit department</h4>
				</div>
				<div class="modal-body">
					{control department}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>
{/block}
