{block content}
	<div class="container-fluid">
		<div class="col-sm-12">
			<h2>Department</h2>
			<table class="table table-striped table-condensed">
				<tbody>
						<tr><td>Street</td><td>{$department->name}</td></tr>
				</tbody>
			</table>
			<h2>Rooms</h2>
			{if count($department->rooms) > 0}
			<table class="table table-striped table-condensed">
				<thead>
					<th>Name</th>
					<th></th>
				</thead>
				<tbody>
					{foreach $department->rooms as $room}
					<tr>
						<td>{$room->name}</td>
						<td>
							<a href="{link Room:detail $room->id}" title="Detail" class="btn btn-xs btn-primary">
								<i class="glyphicon glyphicon-file"></i>
							</a>
						</td>
					</tr>
					{/foreach}
				</tbody>
			</table>
			{else}
				<div class="alert alert-info">
					<strong>Info!</strong> There are no records !
				</div>
			{/if}
		</div>
	</div>
{/block}