{block title}Repairs{/block}

{block content}
    <div class="container-fluid">
    	<p><a href="{link Repair:add}" title="New record" class="btn btn-xs btn-primary margin-top-15"><i class="glyphicon glyphicon-plus"></i> New record</a></p>
		<div class="col-sm-12">
			{if count($repairs) > 0}
				<table class="table table-striped table-condensed">
					<thead>
						<th>Inserted by</th>
						<th>Assigned to</th>
						<th>Equipment</th>
						<th>Inserted at</th>
						<th>Completed at</th>
						<th>Note</th>
						<th>Status</th>
					</thead>
					<tbody>
						{foreach $repairs as $repair}
						{dump $repair}
						<tr>
							<td>{$repair->insertedBy->login}</td>
							<td>{if isset($repair->assignedTo)}{$repair->assignedTo->user->login}{/if}</td>
							<td><a href="{link Equipment:detail $repair->equipment->id}">{$repair->equipment->identification}</a></td>
							<td>{$repair->insertedAt|date:'d.m.Y H:i'}</td>
							<td>{$repair->completedAt|date:'d.m.Y H:i'}</td>
							<td>{$repair->note|truncate:20}</td>
							<td>{$repair->statusText}</td>
							<td class="tex-right">
								<a href="{link Repair:detail $repair->id}" title="Detail" class="btn btn-xs btn-primary">
									<i class="glyphicon glyphicon-file"></i> Detail
								</a>
								{if $repair->canBeEdited($user)}
									<a href="{link Repair:edit $repair->id}" title="Edit" class="btn btn-xs btn-default">
										<i class="glyphicon glyphicon-pencil"></i> Edit
									</a>
								{/if}
								{if $repair->canBeCompleted($user)}
								<a href="{link Repair:delete $repair->id}" title="Delete" class="btn btn-xs btn-danger">
									<i class="glyphicon glyphicon-trash"></i> Delete
								</a>
								{/if}
								{if $repair->canBeCompleted($user)}
									<a href="{link complete! $repair->id}" title="Mark as completed" class="btn btn-xs btn-default">
										<i class="glyphicon glyphicon-ok"></i> Complete
									</a>
								{/if}
								{if $repair->canBeAssigned($user)}
								<a n:href="edit!, $repair->id" title="Assigned to" class="ajax btn btn-xs btn-default">
									<i class="glyphicon glyphicon-pencil"></i> Assigned to
								</a>
								<div n:snippet='edit' n:inner-ifset="$showAssignedTo" class="modal fade">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">Assigned to</h4>
											</div>
											<div class="modal-body">
												{control assignedTo}
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">
													Close
												</button>
											</div>
										</div>
									</div>
								</div>
								{/if}
							</td>
						</tr>
						{/foreach}
					</tbody>
				</table>
			{else}
				<div class="alert alert-info">
					<strong>Info!</strong> There are no records !
				</div>
			{/if}
		</div>
    </div>
{/block}
