{block content}
    <div class="container-fluid">
        <div class="col-sm-12">
            <h2>Repair</h2>
            <table class="table table-striped table-condensed">
                <tbody>
                {dump $repair}
                        <tr><td>Inserted by</td><td>{$repair->insertedBy->login}</td></tr>
                        <tr><td>Assigned to</td><td>{if isset($repait->assignedTo)}{$repair->assignedTo->user->login}{/if}</td></tr>
                        <tr><td>Inserted at</td><td>{$repair->insertedAt|date:'d.m.Y H:i'}</td></tr>
                        <tr><td>Note</td><td>{$repair->note}</td></tr>
                        <tr><td>Completed at</td><td>{$repair->completedAt|date:'d.m.Y H:i'}</td></tr>
                </tbody>
            </table>
            <h2>Equipment</h2>
            <table class="table table-striped table-condensed">
                <tbody>
                    <tr><td>Type</td><td>{$repair->equipment->type->name}</td></tr>
                    <tr><td>Room</td><td>{$repair->equipment->room->name}</td></tr>
                    <tr><td>Manufacturer</td><td>{$repair->equipment->manufacturer->name}</td></tr>
                    <tr><td>Identification</td><td>{$repair->equipment->identification}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
{/block}