<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|striptags} | {/ifset}IIS project</title>

	<link rel="stylesheet" href="{$basePath}/css/style.min.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<meta name="viewport" content="width=device-width">
	{block head}{/block}
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">IIS project</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{link Building:default}">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		{ifset title}<h1>{include title}</h1>{/ifset}
		{include content}
	</div>

	<footer class="footer">
		<div class="container">
			<div class="col-sm-12">
				Evidence výpočetní techniky
			</div>
		</div>
	</footer>

	<script src="{$basePath}/js/jquery/jquery.js"></script>
	<script src="{$basePath}/js/bootstrap/bootstrap.js"></script>
	<script src="{$basePath}/js/dataTables/jquery.dataTables.min.js"></script>
	<script src="{$basePath}/js/dataTables/dataTables.bootstrap.min.js"></script>
	<script src="{$basePath}/js/ajax/nette.ajax.js"></script>
	<script src="{$basePath}/js/live-form-validation.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{block scripts}
	{/block}
</body>
</html>
