{block content}
	<div class="container-fluid">
		<div class="equipments">
			<div class="panel panel-default">
				<div class="panel-heading">Available equipment</div>
				<div class="panel-body">
					{if $equipments}
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Identification</th>
									<th>Type</th>
									<th>Room</th>
								</tr>
							</thead>
							<tbody>
								<tr n:foreach="$equipments as $eq">
									<td><a href="{link Equipment:detail $eq->equipment->id}">{$eq->equipment->identification}</a></td>
									<td>{$eq->equipment->type->name}</td>
									<td>{$eq->equipment->room->name}</td>
								</tr>
							</tbody>
						</table>
					{else}
						<div class="alert alert-info">
							<i class="glyphicon glyphicon-info-sign"></i> No available equipment!
						</div>
					{/if}
				</div>
			</div>
		</div>
		{if isset($technician)}
			<div class="col-md-4 col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">Repairs</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Equipment</th>
									<th>State</th>
								</tr>
							</thead>
							<tbody>
								<tr n:foreach="$repairs as $repair">
									<td>{$repair->equipment->identification}</td>
									<td><span class="label label-primary">{$repair->statusText}</span></td>
								</tr>
						</table>
						<div class="repair-actions">
							<a href="{link Repair:add}" class="btn btn-xs btn-info">
								<i class="glyphicon glyphicon-plus"></i>
								Add repair
							</a>
						</div>
					</div>
				</div>
			</div>
		{/if}
	</div>
{/block}