<div class="login panel panel-default">
	<div class="panel-heading">
		Login
	</div>
	<div class="panel-body">
		{form login, class=>'form-horizontal'}
			<div class="form-group">
				{label login, class=>'col-sm-2 control-label' /}
				<div class="col-sm-10">
					{input login, class=>'form-control'}
				</div>
			</div>
			<div class="form-group">
				{label password, class=>'col-sm-2 control-label' /}
				<div class="col-sm-10">
					{input password, class=>'form-control'}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox login-remember">
						{input remember}
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-5">
					{input send, class=>'btn login-send'}
				</div>
				<div class="col-sm-5 login-register">
					<a href="{plink Register:default}">Vytvořit účet</a>
				</div>
			</div>
			<div n:snippet="state" class="col-sm-offset-2 col-sm-10">
				<div n:if="$form->hasErrors()" n:inner-foreach="$form->errors as $error" class="login-error">
					{$error}
				</div>
			</div>
		{/form}
	</div>
</div>