{block title}Rooms{/block}

{block content}
    <div class="container-fluid">
    	<p><a href="{link Room:add}" title="New record" class="btn btn-xs btn-primary margin-top-15"><i class="glyphicon glyphicon-plus"></i> New record</a></p>
		<div class="col-sm-12">
			{if count($rooms) > 0}
				<table class="table table-striped table-condensed dataTables">
					<thead>
						<th>Name</th>
						<th>Street</th>
						<th>House number</th>
						<th>City</th>
						<th>Country</th>
						<th></th>
					</thead>
					<tbody>
						{foreach $rooms as $room}
						<tr>
							<td>{$room->name}</td>
							<td>{$room->building->houseNumber}</td>
							<td>{$room->building->street}</td>
							<td>{$room->building->city}</td>
							<td>{$room->building->country}</td>
							<td class="text-right">
								<a href="{link detail $room->id}" title="Detail" class="btn btn-xs btn-primary">
									<i class="glyphicon glyphicon-file"></i> Detail
								</a>
								<a href="{link edit $room->id}" title="Edit" class="btn btn-xs btn-default">
									<i class="glyphicon glyphicon-pencil"></i> Edit
								</a>
								{if $room->canBeDeleted($user)}
								<a href="{link delete! $room->id}" title="Delete" class="btn btn-xs btn-danger">
									<i class="glyphicon glyphicon-trash"></i> Delete
								</a>
								{/if}
							</td>
						</tr>
						{/foreach}
					</tbody>
				</table>
			{else}
				<div class="alert alert-info">
					<strong>Info!</strong> There are no records !
				</div>
			{/if}
		</div>
    </div>
{/block}
