{block content}
	<div class="container-fluid">
		<div class="col-sm-12">
			<h2>Room</h2>
			<table class="table table-striped table-condensed">
				<tbody>
						<tr><td>Name</td><td>{$room->name}</td></tr>
						<tr><td>House number</td><td>{$room->building->houseNumber}</td></tr>
						<tr><td>City</td><td>{$room->building->city}</td></tr>
						<tr><td>Country</td><td>{$room->building->country}</td></tr>
				</tbody>
			</table>
			<h2>Equipment</h2>
			{if count($room->equipments) > 0}
			<table class="table table-striped table-condensed">
				<thead>
					<th>Identification</th>
					<th>Type</th>
					<th>Manufacter</th>
					<th>Added</th>
					<th></th>
				</thead>
				<tbody>
					{foreach $room->equipments as $item}
						<tr>
							<td>{$item->identification}</td>
							<td>{$item->type->name}</td>
							<td>{$item->manufacturer->name}</td>
							<td>{$item->dateAdd|date:'%d.%m.%Y'}</td>
							<td class="text-right">
								<a n:href="Equipment:detail, $item->id" title="Detail" class="btn btn-xs btn-primary">
									<i class="glyphicon glyphicon-file"></i> Detail
								</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			{else}
				<div class="alert alert-info">
					<strong>Info!</strong> There are no records !
				</div>
			{/if}
		</div>
	</div>
{/block}