{block title}Equipments{/block}

{block content}
    <div class="container-fluid">
    	<p><a href="{link Equipment:add}" title="New record" class="btn btn-xs btn-primary margin-top-15"><i class="glyphicon glyphicon-plus"></i> New record</a></p>
		<div class="col-sm-12">
			{if count($equipments) > 0}
				<table class="table table-striped table-condensed dataTables">
					<thead>
						<th>Identification</th>
						<th>Manufacturer</th>
						<th>Room</th>
						<th>Type</th>
						<th>Added</th>
						<th></th>
					</thead>
					<tbody>
						{foreach $equipments as $equipment}
						<tr>
							<td>{$equipment->identification}</td>
							<td>{$equipment->manufacturer->name}</td>
							<td><a href="{link Room:detail $equipment->room->id}" alt="Room detail">{$equipment->room->name}</a></td>
							<td>{$equipment->type->name}</td>
							<td>{$equipment->dateAdd|date:'d.m.Y H:i'}</td>
							<td class="text-right">
								<a href="{link detail $equipment->id}" title="Detail" class="btn btn-xs btn-primary">
									<i class="glyphicon glyphicon-file"></i> Detail
								</a>
								<a href="{link edit $equipment->id}" title="Edit" class="btn btn-xs btn-default">
									<i class="glyphicon glyphicon-pencil"></i> Edit
								</a>
								<a href="{link delete! $equipment->id}" title="Delete" class="btn btn-xs btn-danger">
									<i class="glyphicon glyphicon-trash"></i> Delete
								</a>
							</td>
						</tr>
						{/foreach}
					</tbody>
				</table>
			{else}
				<div class="alert alert-info">
					<strong>Info!</strong> There are no records !
				</div>
			{/if}
		</div>
    </div>
{/block}
