{block content}
	<div class="container-fluid">
		<div class="col-sm-12">
			<h2>Equipment</h2>
			<table class="table table-striped table-condensed">
				<tbody>
					<tr><td>Type</td><td>{$equipment->type->name}</td></tr>
					<tr><td>Room</td><td>{$equipment->room->name}</td></tr>
					<tr><td>Manufacturer</td><td>{$equipment->manufacturer->name}</td></tr>
					<tr><td>Identification</td><td>{$equipment->identification}</td></tr>
				</tbody>
			</table>
			{if count($equipment->repairs)}
				<h2>Repairs</h2>
				<table class="table">
					<thead>
						<th>Inserted by</th>
						<th>Assigned to</th>
						<th>Inserted at</th>
						<th>Completed at</th>
						<th>Note</th>
					</thead>
					<tbody>
						<tr n:foreach="$equipment->repairs as $repair">
							<td>{$repair->insertedBy->login}</td>
							<td>{if isset($repair->assignedTo)}{$repair->assignedTo->user->login}{/if}</td>
							<td>{$repair->insertedAt|date:'d.m.Y H:i'}</td>
							<td>{$repair->completedAt|date:'d.m.Y H:i'}</td>
							<td>{$repair->note}</td>
						</tr>
					</tbody>
				</table>
			{/if}
		</div>
	</div>
{/block}