html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.content {
  background: #fafafa;
  border: 1px solid #d1d1d1;
  padding: 10px 10px;

  h1 {
    font-size: 32px;
    margin-top: 0;
  }
  h2 {
    color: #666;
    font-size: 19px;
    margin-bottom: 8px;
  }
}