{block title}Users{/block}
{block content}
	<div class="container-fluid">
		<p><a href="{link User:add}" title="New record" class="btn btn-xs btn-primary margin-top-15"><i class="glyphicon glyphicon-plus"></i> New record</a></p>
		<div class="col-sm-12">
			{if count($users) > 0}
				<table class="table table-striped table-condensed dataTables">
					<thead>
						<th>Login</th>
						<th>First name</th>
						<th>Surname</th>
						<th>Pin</th>
						<th>Room</th>
						<th></th>
					</thead>
					<tbody>
						{foreach $users as $user}
						<tr>
							<td>{$user->login}</td>
							<td>{$user->firstname}</td>
							<td>{$user->surname}</td>
							<td>{$user->pin}</td>
							<td>{$user->room->name}</td>
							<td class="text-right">
								<a href="{link User:edit $user->id}" title="Edit" class="btn btn-xs btn-default">
									<i class="glyphicon glyphicon-pencil"></i> Edit
								</a>
								<a href="{link User:delete $user->id}" title="Delete" class="btn btn-xs btn-danger">
									<i class="glyphicon glyphicon-trash"></i> Delete
								</a>
							</td>
						</tr>
						{/foreach}
					</tbody>
				</table>
			{else}
				<div class="alert alert-info">
					<strong>Info!</strong> There are no records !
				</div>
			{/if}
		</div>
    </div>
{/block}
